<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search city..." name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class='container' *ngIf="weatherData" >
  <div class="upper-data">
    <img src='../assets/spring.jpg' alt='' *ngIf="weatherData.current.temp_c > 15">
    <img src='../assets/winter night.jpg' alt='' *ngIf="weatherData.current.temp_c <= 15">
    <div class="wheather-data">
      <div class="location">{{weatherData.location.name}}
        <h6>{{weatherData.location.country}}</h6>
      </div>

      <div class="temperature">{{weatherData.current.temp_c | number: '1.0-0' }}°C</div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">
      More information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/rain.png" alt="">
          <span>rain</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.precip_mm}} mm
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/uv.png" alt="">
          <span>uv</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.uv}}
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/level.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.humidity}}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.current.wind_kph}} km/h
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
